<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="signupLabel" aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
		<div class="signup-modal-container">
			<!-- show any messages that come back with authentication -->
		    {% if (message.length > 0) %}
		        <div class="alert alert-danger">{{ message }}</div>
		    {% endif %}
			<h1>Create an Account</h1><br>
		  <form action="/signup" method="post" id="signup-form">
			<input type="text" name="email" placeholder="Email">
			<input type="password" name="password" id="password" placeholder="Password">
			<input type="password" name="password_again" id="password_again" placeholder="Re-type Password">
			<input type="submit" name="signup" class="signup signup-modal-submit" value="Create Account">
		  </form>
		</div>
	</div>
</div>
<script>
$("#signup-form").validate({
	rules: {
		password: 'required',
		password_again: {
			required: true,
			equalTo: "#password"
		},
		email: {
			required: true,
			email: true,
			govEmails: true
		}
	}
});
</script>
