{% extends "default.html" %}

{% block hamburger %}
{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="css/bids-styles-auth.css"/>
<link rel="stylesheet" type="text/css" href="css/profile.css"/>
<script src="scripts/bids-profile.js"></script>

<div class="container section--leads-profile">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="#edit-leads" aria-controls="edit-leads" role="tab" data-toggle="tab">{{ "EDIT LEADS" if (currentUser.role == 'admin') else "Edit Your Leads" }}</a></li>
    <li role="presentation"><a href="#user-information" aria-controls="user-information" role="tab" data-toggle="tab">USER DETAILS</a></li>
    {% if currentUser.role == 'admin' %}
    <li role="presentation"><a href="#bulk-upload" aria-controls="bulk-upload" role="tab" data-toggle="tab">BULK UPLOAD LEADS</a></li>
    <li role="presentation"><a href="#feedback" aria-controls="feedback" role="tab" data-toggle="tab">FEEDBACK</a></li>
    {% endif %}
    <!-- <li role="presentation"><a href="#review-cleared-archived-leads" aria-controls="review-cleared-archived-leads" role="tab" data-toggle="tab">REVIEW CLEARED AND ARCHIVED LEADS</a></li> -->
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="feedback">
      <div class="panel panel-default">
        <div class="panel-heading">
          Feedback
        </div>
        <div class="panel-body">
          <table id="feedback-table" class="table table-striped table-bordered dataTable" cellspacing="0" width="100%">
          </table>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane active" id="edit-leads">
      <div class="panel panel-default">
        <div class="panel-heading">
        {% if currentUser.role == 'admin' %}
          Edit Leads
        {% elif currentUser.role == 'gov' %}
          Edit Your Leads
        {% endif %}
        </div>
        <div class="panel-body">
          {% if currentUser.role == 'admin' %}

            <!-- <fieldset> -->
            <div class="editLeadFormFilters">
              <h4>Filters</h4>
              <div class="row-fluid form-inline">
                <div class="form-group">
                  <label for="cleared">Cleared</label>
                  <select id="cleared" class="select2 form-control"  name="cleared" >
                    <option value="All">Show All</option>
                    <option value="Yes">Show Cleared Leads</option>
                    <option value="No">Show Uncleared Leads</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="archived">Archived</label>
                  <select id="archived" class="select2 form-control"  name="archived" >
                    <option value="All">Show All</option>
                    <option value="Yes">Show Archived</option>
                    <option value="No">Show Active</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- </fieldset> -->
            {% elif currentUser.role == 'gov'%}
            <!-- <fieldset> -->
            <div class="editLeadFormFilters" style="display: none;">
            <h4>Filter:</h4>
              <legend>Cleared
                <label>
                  <input id="clearedShow" name="cleared" value="Yes" type="radio">Show Cleared Leads<br />
                  <input id="clearedHide" name="cleared" value="No" type="radio">Show Uncleared Leads<br />
                  <input id="clearedAll" name="cleared" value="All" type="radio" checked>Show All<br />
                </label>
              </legend>
              <legend>Archived
                <label>
                  <input id="archivedShow" name="archived" value="Yes" type="radio">Show Archived<br />
                  <input id="archivedHide" name="archived" value="No" type="radio">Show Active<br />
                  <input id="archivedAll" name="archived" value="All" type="radio" checked>Show All<br />
                </label>
              </legend>
            </div>
            <!-- </fieldset> -->
            {% endif %}

              <table id="leads-actions-2" class="table table-striped table-bordered" cellspacing="0">
                <thead>
                  <tr>
                    <!-- ACTUAL -->
                      <th>ID</th>
                      <th>Cleared</th>
                      <th>Archived</th>
                      <th>Title</th>
                      <th>Country</th>
                      <th>Size</th>
                      <th>Sector</th>
                      <th>Implementor</th>
                     <!--  <th>Status</th> -->
                       <!--<th>Announced</th> -->
                      <!-- <th>Funding Source</th> -->
                      <th>Source</th>
                      <!-- <th>link_to_project</th> -->

                    <!-- FOR DEVELOPMENT -->
                      <!-- SIMPLIFIES READ-WRITE DATABASE TESTING TO DISPLAY ALL THE FORM FIELDS IN THE TABLE AT ONCE -->
                      <!--
                      <th>archived</th>
                      <th>auto_archive_date</th>
                      <th>borrowing_entity</th>
                      <th>business_url</th>
                      <th>cleared</th>
                      <th>contact_timestamp</th>
                      <th>country</th>
                      <th>country_id</th>
                      <th>dos_region</th>
                      <th>fid</th>
                      <th>implementing_entity</th>
                      <th>keyword</th>
                      <th>lat</th>
                      <th>link_to_project</th>
                      <th>lon</th>
                      <th>post_comments</th>
                      <th>project_announced</th>
                      <th>project_description</th>
                      <th>project_funding_source</th>
                      <th>X project_number</th>
                      <th>project_pocs</th>
                      <th>project_size</th>
                      <th>X project_title</th>
                      <th>region_id</th>
                      <th>sector</th>
                      <th>sector_id</th>
                      <th>source</th>
                      <th>specific_location</th>
                      <th>status</th>
                      <th>submitting_officer</th>
                      <th>submitting_officer_contact</th>
                      <th>tender_date</th>
                      <th>the_geom</th>
                      <th>timestamp</th>
                      <th>us_firm_contact</th>
                      <th>us_firm_wins</th>
                      -->
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <!-- ACTUAL -->

                      <th>ID</th>
                      <th>Cleared</th>
                      <th>Archived</th>
                      <th>Title</th>
                      <th>Country</th>
                      <th>Size</th>
                      <th>Sector</th>
                      <th>Implementor</th>
                     <!--  <th>Status</th> -->
                     <!--  <th>Announced</th> -->
                      <!-- <th>Funding Source</th> -->
                      <th>Source</th>
                      <!-- <th>link_to_project</th> -->

                    <!-- FOR DEVELOPMENT -->
                      <!-- SIMPLIFIES READ-WRITE DATABASE TESTING TO DISPLAY ALL THE FORM FIELDS IN THE TABLE AT ONCE -->
                      <!--
                      <th>archived</th>
                      <th>auto_archive_date</th>
                      <th>borrowing_entity</th>
                      <th>business_url</th>
                      <th>cleared</th>
                      <th>contact_timestamp</th>
                      <th>country</th>
                      <th>country_id</th>
                      <th>dos_region</th>
                      <th>fid</th>
                      <th>implementing_entity</th>
                      <th>keyword</th>
                      <th>lat</th>
                      <th>link_to_project</th>
                      <th>lon</th>
                      <th>post_comments</th>
                      <th>project_announced</th>
                      <th>project_description</th>
                      <th>project_funding_source</th>
                      <th>X project_number</th>
                      <th>project_pocs</th>
                      <th>project_size</th>
                      <th>X project_title</th>
                      <th>region_id</th>
                      <th>sector</th>
                      <th>sector_id</th>
                      <th>source</th>
                      <th>specific_location</th>
                      <th>status</th>
                      <th>submitting_officer</th>
                      <th>submitting_officer_contact</th>
                      <th>tender_date</th>
                      <th>the_geom</th>
                      <th>timestamp</th>
                      <th>us_firm_contact</th>
                      <th>us_firm_wins</th>
                       -->

                  </tr>
                </tfoot>
              </table>
          </div>
          <div class="container">
            <div class="modal" id="editLeadModal" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="close-modal" data-dismiss="modal">
                      <div class="lr">
                          <div class="rl">
                          </div>
                      </div>
                  </div>
                  <div class="modal-header">
                    <h3>Edit a Lead</h3>
                  </div>
                  <div class="editLeadForm">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div role="tabpanel" class="tab-pane" id="user-information">
      <div class="panel panel-default">
        <div class="panel-heading">
          User Details
        </div>
        <div class="panel-body">
            <strong>id</strong>: {{ user.id }}<br>
            <strong>email</strong>: {{user.email}} <br>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="bulk-upload">
      <div class="panel panel-default">
        <div class="panel-heading">
          Bulk Upload Leads
        </div>
        <div class="panel-body">
          <div class="panel panel-primary">
            <div class="panel-heading">
            <h3 class="panel-title">Upload File</h3>
          </div>
          <div class="panel-body">
            <form id="bulk-upload-form" method="post" name="bulkcsvform" enctype="multipart/form-data">
              <div class="form-group">
                <label for="fileToUpload">File</label>
                <input type="file" name="bulkcsv" id="bulkcsv">
                <p class="help-block">Upload your file containing the leads to ingest. Use <a href="#" onclick="alert('Link not active yet');">this file as a template.</a></p>
                <button class="btn btn-primary" type="button" id="bulk-upload-button" value="Bulk Upload Leads" name="submit">Submit</button>
              </div>
            </form>
          </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Results</h3>
            </div>
            <div class="panel-body">
              <div id="bulk-message" class="well">
          
              </div>
            </div>
          </div>
          <div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Instructions</h3>
            </div>
            <div class="panel-body">
              <br /><b>DO NOT CHANGE THE HEADERS</b>. If changed, they should match the values denoted below (State Department region should be dos_region).
              <br />
              <br /><b>country</b> | text must match country name. Countries will be given a generic lat/long. Use commas to seperate multiple countries
              <br /><b>project_title</b> | free text
              <br /><b>project_number</b>  | a number treated as text
              <br /><b>sector</b>  | text must match a sector name. Use commas to seperate multiple sectors.
              <br /><b>project_size</b>  | Enter a number representing the dollar value with no commas, dollar sign, or cent. Example, $16,000,000 should be typed 16000000. Cannot be a negative amount.
              <br /><b>project_description</b>  | text description
              <br /><b>keyword</b>  | Each keyword as free text, separated by commas.
              <br /><b>source</b>  | free text 
              <br /><b>project_announced</b>  | date. Enter in the following format YYYY-MM-DD. So March 14th, 2016 would be entered as 2016-03-14 .
              <br /><b>tender_date</b>  | date. Enter in the following format YYYY-MM-DD. So March 14th, 2016 would be entered as 2016-03-14 .
              <br /><b>implementing_entity</b>  | free text
              <br /><b>project_pocs</b>  | free text (email expected)
              <br /><b>post_comments</b>  | free text
              <br /><b>submitting_officer</b>  | free text (name expected)
              <br /><b>submitting_officer_contact</b>  | free text (email expected)
              <br /><b>link_to_project</b>  | Enter a URL, including the protocol. Example: http://www.google.com/ . Accepted protocols include "http" or "https".
              <br /><b>business_url</b>  | Enter a URL, including the protocol. Example: http://www.google.com/ . Accepted protocols include "http" or "https".
              <br /><b>cleared</b>  | Boolean value; Enter "false" (without quotes) for an uncleared lead. Enter "true" (without quotes) for a cleared lead.
              <br /><b>archived</b>  | Boolean value; Enter "false" (without quotes) for a lead to not be archived. Enter "true" (without quotes) for a lead to be archived.
              <br /><b>auto_archive_date</b>  | Date for a lead to be archived.
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="container">
  <div class="modal  section--feedback fade" id="showFeedback" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Feedback</h4>
        </div>
        <div class="modal-body">
        <div id="feedback-content"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>

<script>
	$(".lead-filter").click(function() {
	});

	function clear_lead(fid) {
		$.get("/api/clear/"+fid,
      function(data, status){
        window.location.href="/profile";
      });
	}
  $(".select2").select2();

	function archive_lead(fid) {
		$.get("/api/archive/"+fid,
		    function(data, status){
		      window.location.href="/profile";
		    });
	}

</script>
{% endblock %}
