@import "./base.scss";
@import "./faq.scss";
@import "./map.scss";
@import "error.scss";
@import "add-lead.scss";
@import "contact.scss";


main, html, body .row .container-fluid {
  height: 100%;
}

.section--leads-profile .modal .modal-dialog { width: 800px; }

.row {
  height: 100%;
}

.container-fluid {
  height: 100%;
}

.main-container {
  box-sizing: border-box;
  height: calc(100% - 52px);
}

.dl-horizontal dt {
  width: 170px;
}

.navbar {
  margin-bottom: 0;
  background-color: white;
  z-index: 99999999999999999999999;
}

.map__container {
  margin-right: 0px;
  margin-left: 0px;
}


i.fa {
  display: inline-block;
}

.bids-primary-text {
  color: #1E194D !important;
}

.bids-primary-back {
  background-color: #1E194D !important;
}

//Bootstrap navbar customization
.navbar .navbar-brand {
  font-weight: bold;
  font-size: 25px;
  color: #FFFFFF;
  padding-left: 15px;
}
.navbar-default {
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 0px;
}
.navbar-collapse.in {
  overflow-y: hidden;
}
.navbar-header .navbar-icon-container {
  margin-right: 15px;
}
.navbar-header .navbar-icon {
  line-height: 50px;
  height: 50px;
}
.navbar-header a.navbar-icon {
  margin-left: 25px;
}

.navbar-default .navbar-nav > li > a {
    color: #aeb0b5;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #1E194D;
    background-color: white;
}

.navbar-btn {
  color: #1E194D;
  font-weight: bold;
}
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #1E194D;
    border-color: #1E194D;
}
.panel-primary {
    border-color: #1E194D;
}

.logo-display {
  padding: 0;
  margin-right: 15px;
}

.beta-note {
  background-color: #1E194D;
  color: white;
  width: 60px;
  top: 50px;
  position: absolute;
  font-size: 16px;
  padding: 3px;
  z-index: 999999999999;
  text-align: center;
  left: 20px
}

.select2-search__field{
  width: 110px !important;
}

@media (max-width: 990px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        clear: both;
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;

    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
        clear: both;
    }
    .beta-note {
        background-color: #1E194D;
        color: white;
        width: 60px;
        bottom: 0;
        position: absolute;
        font-size: 16px;
        padding: 3px;
        z-index: 999999999999;
        text-align: center;
        left: 15px;
        top: inherit;

    }
}
