/*
BIDS PROFILE CSS
*/
/* line 5, /Users/ediplomacy2010/Sites/eDip/BIDS/styles/sass/bids-styles-auth.scss */
#leads-actions-2 tr:hover {
  cursor: pointer;
  background-color: lightslategrey;
  color: white; }

/* line 11, /Users/ediplomacy2010/Sites/eDip/BIDS/styles/sass/bids-styles-auth.scss */
#leads-actions-2 {
  font-size: 1em;
  overflow-x: scroll; }

/* line 15, /Users/ediplomacy2010/Sites/eDip/BIDS/styles/sass/bids-styles-auth.scss */
#leads-actions-2 th {
  font-size: 1.2em; }

/* line 18, /Users/ediplomacy2010/Sites/eDip/BIDS/styles/sass/bids-styles-auth.scss */
#leads-actions-2 td {
  /*  max-width: 45px;*/
  word-wrap: break-all; }

/* line 22, /Users/ediplomacy2010/Sites/eDip/BIDS/styles/sass/bids-styles-auth.scss */
#leadform {
  margin: 1em; }
