/* DEFAULT EXPRESS GENERAATOR STYLES */
body {
  font: 14px "Merriweather", Helvetica, Arial, sans-serif;
}

html, body {
  height: 100%;
}

a {
  color: lightslategray;
}

.closer {
  cursor: pointer;
  text-align: right;
  margin-top: -5px;
}

.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}

/* LOGIN MODAL */
.loginmodal-container, .signup-modal-container  {
  padding: 30px;
  /*max-width: 350px;*/
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1, .signup-modal-container h1{
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit], .signup-modal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.signup-modal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.signup-modal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal, .signup-modal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit,.signup-modal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  border-bottom: 2px solid #FFFFFF;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  background-color: #1E194D;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover, .signup-modal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  /*border: 0px;*/
  text-shadow: 0 1px rgba(0,0,0,0.3);
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a, .signup-modal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  font-size: 140%;
}

.login-help{
  font-size: 12px;
}

/* SLIDER STYLES */
.toggle {
  font-size: 80%;
  font-style: italic;
  cursor: pointer;
}

label.slider {
  margin-bottom: 3em;
}

/* CUSTOM BIDS STYLES */
.content {
margin-bottom: 20px;
width: 100%;
overflow: scroll;
}

.content-body {
  width: 80%;
  float: right;
}

/* INFO SHADOW BOX STYLES */
#flash-message {
  width: 366px;
  text-align: left;
  padding: 10px;
  font-size: 12px;
  border: 1px solid #dcdcdc;
  border-radius: 25px;
  position: relative;
  left: 300px;
  -webkit-box-shadow: 3px 3px 1px 0 black;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 1px 0 black;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 1px 0 black;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

/* NAVBAR STYLES */
.navbar-default {
  border: none;
}

/*.navbar-default .navbar-nav>li>a {
  color: white;
}*/

/* SLIDE PANEL */
#slide-panel {
    position: fixed;
    width:275px;
    height:525px;
    padding:10px;
    background:#eee;
    margin-left:-330px;
    border-radius: 3px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
}

#results-summary{
  font-weight: bold;
}

#search-input{
  width:250px;
}

#content-bids {
  margin-top:-300px;
}
/* FOOTER STYLES */
div.footer {
  border-top: 1px solid #dcdcdc;
}

div.footer p {
  font-size: 10px;
}

/* HOME PAGE GRAPH STYLES */
.graph div {
font: 10px sans-serif;
text-align: right;
padding: 3px;
margin: 1px;
color: white;
}

#xaxis .domain {
fill:none;
stroke:#000;
}

#xaxis text, #yaxis text {
font-size: 9px;
}

/* PROGRESS BAR */
/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}
#progressbar li {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
  text-align: center;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
  text-align: center;
  z-index: 25;
}
/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: black;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.pb-active:before,  #progressbar li.pb-active:after{
  background: #27AE60;
  color: white;
}

/*The number of the step and the connector before it = green*/
#progressbar li.inactive:before,  #progressbar li.inactive:after{
  background: red;
  color: white;
}

.lead-filter:hover {
  font-size: 110%;
  cursor: pointer;
}

label.error {
  color: red;
  font-style: italic;
}

table.leads-actions {
  border-collapse: collapse;
}

table.leads-actions th {
  padding: 10px;
  border: 1px solid black;
}

table.leads-actions td {
  padding: 5px;
  border: 1px solid black;
}

/*Lookup Dropdown*/

#resultsList{
  width: 100%;
}

.select-all {
  margin-right: 0.2em;
  background-color: lightslategrey;
  color: white;
  border-radius: 0.5em;
  padding: 0.1em 0.3em;
}

.unselect-all {
  margin-right: 0.2em;
  background-color: lightslategrey;
  color: white;
  border-radius: 0.5em;
  padding: 0.1em 0.3em;
}

.select-all:hover, .unselect-all:hover {
  cursor: pointer;
  color: lightslategrey;
  background-color: white;
}

.updatingMap {
  position: absolute;
  height: inherit;
  width: 100%;
  z-index: 1002;
  opacity: 0.9;
  background-color: lightslategrey;
  text-align: center;
  font-style: italic;
}
