.section--about-bids {
  padding: 10px;

  li {
    display: block;
  }

  li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 15px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
  }

  .about-bids-points {
    p {
      font-size: 140%;
    }
  }
}
