.section--leads-profile {
  padding-top: 25px;
}

.section--feedback {
  .feedback-question-text {
    font-weight: bold;
  }
  .feedback-answers-header {
    text-align: center;
  }
}

#feedback-table {
  cursor: pointer;
}
