{% extends "default.html" %}
  {% block hamburger %}
{% endblock %}

{% block content %}
  <div class="row">
    <!-- LOCAL INFORMATION -->
    <div class="col-sm-6">
      <div class="well">
        <h3><span class="fa fa-user"></span> ADMIN YOU ARE</h3>
        <p>
          <strong>id</strong>: {{ user.id }}
          <br>
          <strong>email</strong>: {{user.email}}
          <br>
        </p>
      </div>
    </div>

  </div>
  <p>Number of results : {{ size }}</p>
  <p><a href="/profile">Neither</a> | <a href="/profile/cleared">Cleared</a> | <a href="/profile/archived">Archived</a></p>
  <table class='leads-actions'>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Description</th>
      <th>Sector</th>
      <th>Status</th>
      <th>Cleared?</th>
      <th>Archived</th>
      <th>Clear</th>
      <th>Archive</th>
    </tr>

    {% for lead in leads %} {% if true %}
    <tr>
      <td>{{ lead.attributes.fid }}</td>
      <td>{{ lead.attributes.project_title }}</td>
      <td>{{ lead.attributes.project_description }}</td>
      <td>{{ lead.attributes.sector }}</td>
      <td>{{ lead.attributes.status }}</td>
      <td>{{ lead.attributes.cleared }}</td>
      <td>{{ lead.attributes.archived }}</td>
      <td>
        <button onclick='clear_lead({{ lead.attributes.fid }})'>Clear</button>
      </td>
      <td>
        <button onclick='archive_lead({{ lead.attributes.fid }})'>Archive</button>
      </td>
    </tr>
    {% endif %} {% else %}
    <tr>
      <td colspan='7'>No Actions to Take</td>
    </tr>
    {% endfor %}
  </table>
  </br>
  </br>

  <table class='leads-actions'>
    <tr>
      <th>Date</th>
      <th>Private Ease</th>
      <th>Private Ease Comments</th>
      <th>Private Usefulness</th>
      <th>Private Improvements</th>
      <th>Private Visit Again</th>
      <th>Private Suggestions</th>
      <th>USG Ease</th>
      <th>USG Leads</th>
      <th>USG Usefulness</th>
      <th>USG Ease Comments</th>
      <th>USG Goals</th>
      <th>USG Strategy</th>
      <th>USG Improvements</th>
    </tr>

    {% for feedback in feedbacks %} {% if true %}
    <tr>
      <td>{{ feedback.attributes.timestamp }}</td>
      <td>{{ feedback.attributes.private_ease }}</td>
      <td>{{ feedback.attributes.private_ease_comments }}</td>
      <td>{{ feedback.attributes.private_useful }}</td>
      <td>{{ feedback.attributes.private_improve }}</td>
      <td>{{ feedback.attributes.private_again }}</td>
      <td>{{ feedback.attributes.private_suggest }}</td>

      <td>{{ feedback.attributes.usg_ease }}</td>
      <td>{{ feedback.attributes.usg_leads }}</td>
      <td>{{ feedback.attributes.usg_useful }}</td>
      <td>{{ feedback.attributes.usg_ease_comments }}</td>
      <td>{{ feedback.attributes.usg_goals }}</td>
      <td>{{ feedback.attributes.usg_strategy }}</td>
      <td>{{ feedback.attributes.usg_improve }}</td>
    </tr>
    {% endif %} {% else %}
    <tr>
      <td colspan='7'>No Actions to Take</td>
    </tr>
    {% endfor %}
  </table>

  <script>
    $(".lead-filter").click(function() {

    });

    function clear_lead(fid) {
      $.get("/api/clear/" + fid,
        function(data, status) {
          window.location.href = "/profile";
        });
    }

    function archive_lead(fid) {
      $.get("/api/archive/" + fid,
        function(data, status) {
          window.location.href = "/profile";
        });
    }
  </script>
{% endblock %}
