{% extends "default.html" %}
	{% block hamburger %}
{% endblock %} {% block content %}

<div class="container section--about-bids"> <!-- TODO: fix css for section contact-->
	<div class="row">
		<div class="jumbotron">
	    <h2>Thank you for using JEDV!</h2>
			<p>We are working constantly to improve JEDV and are eager for your feedback.</p>
			<p>
				If you have any questions, please contact <a href="mailto:steppDN@state.gov">steppDN@state.gov</a>.
			</p>
	  </div>
	</div>
</div>

{% endblock %}
