{% extends "default.html" %}
{% block content %}
  <div class="container section--error">
    <h1 class="text-center">{{message}}</h1>
    <br/>
    <div class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
          <div class="item active">
          <img src="/images/under-construction.gif" class="img-thumbnail center-block error-image" alt="Error happened!">
          </div>

          <p class="text-center error-full-message">{{error}}</p>
      </div>
    </div>
  </div>
{% endblock %}
