{% extends "default.html" %}
  {% block hamburger %}
{% endblock %}

{% block content %}
  <div class="container section--about-bids">
    <div class="row">
      <div class="col-md-12">
        

        <div class="jumbotron">
          <h2>The Business Information Database System (BIDS) </h2>
          <p>Provides U.S. businesses with real-time, on-the-ground leads on international commercial and investment opportunities and the ability to connect directly to U.S. government officials in the field.  The interactive map displays thousands of potential projects, with links to the project website, U.S. Embassies overseas, and other USG business advocacy resources.</p>
          <div class="row about-bids-points">
            <div class="col-sm-6">
              <li><p>BIDS contains 438 leads across the globe, amounting to a total value of $218,831,779,785.</p></li>
              <li><p>These business leads represent potential projects in many sectors...</p></li>
              <li><p>[Word map or other visualization of sectors; each sector links to pre-populated map search page]</p></li>
            </div>
            <div class="col-sm-6">
              <li><p>Found in every region of the world:</p></li>
              <li><p>Visualization of regions</p></li>
              <li><p>[Each region links to pre-populated map search page]</p></li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h1 class="text-center">Frequent Asked Questions</h1>
    <div class="row">
      <p class="text-center sub-info">Have another question, or a suggestion for improving BIDS?  Please contact us through our <a href="/contact">feedback page!</a></p>
      <div class="col-md-12 section--faq">
        <div class="faq-question-answer">
          <h3 class="faq-question">How do I use BIDS?</h3>
          <div class="faq-answer">
            <p>U.S. companies can use BIDS to access information about upcoming projects and, most importantly, to connect directly with U.S. government officials in the field.</p>
            <p>The search panel to the left of the map allows you to search by sector, region, country, or project value.  You can also sign up to receive automatic alerts when new projects are added that meet your search criteria.</p>
          </div>
        </div>
        <div class="faq-question-answer">
          <h3 class="faq-question">How Do I bid on the Projects?</h3>
          <div class="faq-answer">
            <p>BIDS.state.gov is an information repository for companies to find out about upcoming opportunities.  This webpage does not conduct procurement actions.</p>
            <p>Each lead on BIDS includes links to the project webpage, as well as the Embassy business webpage for that country.  To bid on any of the leads, click on the
              “Project Webpage” to learn more about the project, including the procurement process.  To connect with the Embassy commercial section, click on the Embassy business page.
              We encourage you to connect with the Embassy to learn more about doing business in the country and potentially request Embassy support in bidding.
            </p>
          </div>
        </div>
        <div class="faq-question-answer">
          <h3 class="faq-question">How do I register for BIDS?</h3>
          <div class="faq-answer">
            <p>No registration is required to browse the leads on BIDS.  If you’d like to save your search settings, or receive alerts when new leads are added, you may sign up for email updates. </p>
            <p>As noted above, BIDS.state.gov does not conduct procurements.</p>
          </div>
        </div>
        <div class="faq-question-answer">
          <h3 class="faq-question">How do I add leads?</h3>
          <div class="faq-answer">
            <p>State Department OpenNet users may click here to add a lead – no log-in required.  Other U.S. government users may create an account that will allow you to add leads.  Please create an account above by clicking on "Login", and then the "Register" text in the modal.  Please see here for more details on how to add, edit, and delete leads.</p>
          </div>
        </div>
        <div class="faq-question-answer">
          <h3 class="faq-question">Where do these leads come from?</h3>
          <div class="faq-answer">
            <p>U.S. Government officials, including officers at our Embassies, upload new procurement opportunities complete with context, commentary, and contact information.  Additionally, BIDS pulls in pipeline projects from the Multilateral Development Banks, including the World Bank, the Inter-American Development Bank, the African Development Bank, and the Asian Development Bank.</p>
            <p>BIDS is an open data platform; developers can use BIDS data to support other applications including the development of websites and apps. See here for our API feed.</p>
          </div>
        </div>
        <div class="faq-question-answer">
          <h3 class="faq-question">How do I add leads?</h3>
          <div class="faq-answer">
            <p>State Department OpenNet users may click here to add a lead – no log-in required.  Other U.S. government users may create an account that will allow you to add leads.  Please create an account above by clicking on "Login", and then the "Register" text in the modal.  Please see here for more details on how to add, edit, and delete leads.</p>
          </div>
        </div>
        <div class="faq-question-answer">
          <h3 class="faq-question">Who uses BIDS?</h3>
          <div class="faq-answer">
            <p>State Department OpenNet users may click here to add a lead – no log-in required.  Other U.S. government users may create an account that will allow you to add leads.  Please create an account above by clicking on "Login", and then the "Register" text in the modal.  Please see here for more details on how to add, edit, and delete leads.</p>
          </div>
        </div>
        <div class="faq-question-answer">
          <h3 class="faq-question">How do I add leads?</h3>
          <div class="faq-answer">
            <p>BIDS and the data behind it are open to the public. U.S. officials and U.S. businesses use BIDS as a continuously updated picture of procurement opportunities worldwide. U.S. businesses can use BIDS to connect to extensive information about foreign markets on business tabs on U.S. Embassy websites; to foreign procurement officials, and to our world-wide staff of economic and commercial officers.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="alert alert-info">
          <h4><strong>DISCLAIMER</strong></h4>
          <p>The U.S. Government has compiled this information to identify opportunities for U.S. businesses. This information is not intended to be complete; interested parties should not solely rely on the information provided herein. Neither the U.S. Government nor its employees/contractors assume any legal liability for the accuracy, completeness, or utility of any information or process disclosed. It is the sole responsibility of the user of the information to verify its accuracy.</p>
        </div>
  </div>
{% endblock %}
