{% extends "default.html" %}
  {% block hamburger %}
{% endblock %}

{% block content %}
  <div class="container section--about-bids">
    <div class="row">
      <div class="col-md-12">
        

        <div class="jumbotron">
          <h2 class="text-center">J Enterprise Data Viewer</h2>
        </div>

      <img src="/images/under-construction.gif" class="center-block error-image">

    <div class="alert alert-info text-center">
          <h4><strong>DISCLAIMER</strong></h4>
          <p>The U.S. Government has compiled this information to identify opportunities for U.S. businesses. This information is not intended to be complete; interested parties should not solely rely on the information provided herein. Neither the U.S. Government nor its employees/contractors assume any legal liability for the accuracy, completeness, or utility of any information or process disclosed. It is the sole responsibility of the user of the information to verify its accuracy.</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
