<span class='filter slider'>
        <select name='search' id='search-input' class='form-control select2' multiple>
            <option></option>
        </select>
    </span>
<button type="button" class="btn btn-default navbar-btn" onclick="$('#filterForm').slideToggle();"><i class="glyphicon glyphicon-filter"></i> Filter</button>
<div id="filterForm" class="filterForm">
 <div>
   <span class="close-filter" onclick="$('#filterForm').slideToggle();">close</span>

    <div class="filterFormColumn filterFormColumn0">
      <div class="opp_unit-types">
        <div class="filterFormTitle">Operating Unit</div>
        <span class='unselect-all opp_unit active' onclick="_state.setFilter('operating_unit-all-remove',null,false);">Unselect All</span>
        <span class="select-all opp_unit" onclick="_state.setFilter('operating_unit-all-select',null,false);">Select All</span>
        <br/>
        <br/>
        <div class='form-group filter opp_unit' style="height: inherit;">
          <div class="filter-operating_unit-checkboxes filter-operating_unit active" style="overflow-y: auto;">
            <!--dynamically-populated-->
          </div>
        </div>
      </div>
    </div>

    <div class="filterFormColumn filterFormColumn1">
      <div class="country-choices">
        <div class="filterFormTitle">Country Choices</div>
        <span class='unselect-all countries active' onclick="_state.setFilter('country-all-remove',null,false);">Unselect All</span>
        <span class="select-all countries" onclick="_state.setFilter('country-all-select',null,false);">Select All</span>
        <br/>
        <br/>
        <div class="filter-country-checkboxes filter-countries active">
          <!--dynamically populated-->
        </div>
      </div>
    </div>

    <div class="filterFormColumn filterFormColumn2">
      <div class="region-choices">
        <div class="filterFormTitle">Region Choices</div>
        <span class='unselect-all regions active' onclick="_state.setFilter('region-all-remove',null,false);">Unselect All</span>
        <span class="select-all regions" onclick="_state.setFilter('region-all-select',null,false);">Select All</span>
        <br/>
        <br/>
        <div class="filter-region-checkboxes filter-regions active">
          <!--dynamically populated-->
        </div>
      </div>
    </div>


    <div class = "spacer"></div>
    <div class = "topFilters"></div> <!-- Makes a grid view for filter list -->


    <div class="filterFormColumn filterFormColumn0">
      <div class="sector-types">
        <div class="filterFormTitle">Sub Region</div>
        <span class='unselect-all sectors active' onclick="_state.setFilter('sector-all-remove',null,false);">Unselect All</span>
        <span class="select-all sectors" onclick="_state.setFilter('sector-all-select',null,false);">Select All</span>
        <br/>
        <br/>
        <div class='form-group filter sector' style="height: inherit;">
          <div class="filter-sectors-checkboxes" style="overflow-y: auto;">
            <!--dynamically-populated-->
          </div>
        </div>
      </div>
    </div>

    <div class="filterFormColumn filterFormColumn1">
      <div class="region-choices">
        <div class="filterFormTitle">Obligation Fiscal Year</div>
        <span class='unselect-all regions active' onclick="_state.setFilter('region-all-remove',null,false);">Unselect All</span>
        <span class="select-all regions" onclick="_state.setFilter('region-all-select',null,false);">Select All</span>
        <br/>
        <br/>
        <div class="filter-region-checkboxes filter-regions active">
          <!--dynamically populated-->
        </div>
      </div>
    </div>

    <div class="filterFormColumn filterFormColumn2">
      <div class="region-choices">
        <div class="filterFormTitle">Fund Source</div>
        <span class='unselect-all regions active' onclick="_state.setFilter('region-all-remove',null,false);">Unselect All</span>
        <span class="select-all regions" onclick="_state.setFilter('region-all-select',null,false);">Select All</span>
        <br/>
        <br/>
        <div class="filter-region-checkboxes filter-regions active">
          <!--dynamically populated-->
        </div>
      </div>
    </div>

  </div>
</div>


