
<nav id="navbar" class="navbar nav navbar-default section--navbar">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand bids-primary-text" href="/"> <!-- TODO: Put logo-display back in class -->
      J Enterprise Data Viewer<!--<img src="../../assets/img/logo.jpg" height="50">-->
    </a>
    <div class="navbar-collapse collapse">
      <div class="navbar-left">
        {% if map %}
          {% include "./navbar-map-menu.html" %}
        {% endif %}
      </div>
      <ul id="nav-bar" class="nav navbar-nav navbar-right">
        <li class="active"><a href="/map">Map</a></li>
        <!-- TODO: Comment back in once form is fixed -->
        <!-- <li><a href="/leadform">Add Project</a></li> -->
        <li><a href="/faq">About</a></li>
        <li><a href="/feedback">Feedback</a></li>
        {% if (currentUser.role) %}
        <li><a href="/profile">Profile</a></li>
        <li><a href="/logout">Logout {{ currentUser.email }}</a></li>
        {% else %}
          <li><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
</nav>

  {% if (infoMessages.length > 0) %}
    <div class="alert alert-info note map-alerts">{{ infoMessages }}</div>
  {% endif %}

  {% if (messages.length > 0) %}
    <div class="alert alert-danger note map-alerts">{{ messages }}</div>
  {% endif %}

  {% if (message.length > 0) %}
    <div class="alert alert-danger note map-alerts">{{ message }}</div>
  {% endif %}

<div class="beta-note">release 0.2.0</div>

{% include "auth/login-modal.html" %}
{% include "auth/signup-modal.html" %}
{% include "coming-soon.html" %}
